<div class="plugin-labels">
    <ul class="all-labels">
    {{#each labels}}
        <li class="all-labels-item"><a href="#q/label:{{quoteIfWhitespace this}}" class="searchby-label"><span class="label plugin-label">{{this}}</span></a></li>
    {{/each}}
    </ul>
</div>
