<div class="plugin-info">
    {{> plugin}}
    {{#if dependency}}
        <div class="gradle-format">
<pre class="hljs lang-groovy">
dependencies {
    {{dependencyScope}} '{{dependency}}'
}
</pre>
        </div>
    {{/if}}
</div>
<div class="readme"></div>
