<div class="plugin-info">
    <span class="plugin-name">Plugin Not Found</span>
</div>
<div class="readme">
    <span class="not-found">The plugin you are looking for was not found. Please check the name and try again.</span>
</div>
