@dark-green: #4d8618;
@light-green: #79b94c;
@header-link-color: #fff;

a {
  color: @dark-green;
  &:hover {
    color: @dark-green;
  }
}

.page-width {
  max-width: 1180px;
  margin: auto;
  padding: 0 20px 10px;
}

.navbar {
  background: @dark-green;
  border-radius: 0;
  border-width: 0;
  box-shadow: 0 0 2px 1px #888;
  .navbar-header {
    float: left;
  }
  .navbar-brand {
    color: @header-link-color;
    text-shadow: none;
    padding: 15px 0;
    img {
      width: 40px;
      display: inline;
    }
    &:hover, &:active, &:focus {
      color: @header-link-color;
    }
  }
  .grails-logo {
    margin-left: -5px;
  }
  .navbar-link-list {
    float: right;
    margin: 0;
    padding: 15px 0;
    li {
      list-style-type: none;
      float: left;
      margin-left: 15px;
      a {
        color: @header-link-color;
      }
    }
    .twitter {
      display: none;
    }
  }
}

.page-loading {
  font-size: 20px;
  color: #aaa;
  text-align: center;
  margin-top: 50px;
  i {
    width: 20px;
  }
}

.search-section {
  margin: 0 280px 0 130px;
}

.search-input-section {
  padding: 0 0 10px;
  .form-group {
    position: relative;
    margin-bottom: 0;
  }
  .glyphicon-search {
    top: 0;
    left: 10px;
    color: #555;
    font-size: 18px;
    height: 14px;
    line-height: 14px;
    bottom: 0;
    margin: auto 0;
  }
  .glyphicon-remove-sign {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    line-height: 14px;
    margin: auto;
    font-size: 18px;
    cursor: pointer;
    color: #bbb;
    width: 2pc;
    text-align: center;
  }
  .search-input {
    padding: 12px 47px;
    font-size: 18px;
    line-height: 22px;
    height: auto;
  }
}

.search-page {
  .search-count {
    font-size: 12px;
    margin-bottom: 10px;
    color: #888;
    .dropdown-toggle {
      color: #888;
    }
    .dropdown-menu {
      min-width: 120px;
      .checkmark {
        margin-right: 5px;
        visibility: hidden;
      }
      a.selected .checkmark {
        visibility: visible;
      }
    }
  }
}


.plugins-list {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  .plugin-name {
    color: @dark-green;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin: 5px 0;
  }
  .plugin-description {
    color: #888;
    margin: 0 0 8px;
    display: block;
    font-size: 0.9em;
  }
  label {
    margin-bottom: 0;
  }
  & > li {
    list-style-type: none;
    padding: 10px 0;
    border-bottom: 2px solid #eee;
    margin-bottom: 1px;

    .external-links {
      margin-left: 10px;
      opacity: 0;
      a {
        margin-right: 5px;
        img {
          height: 20px;
        }
      }
    }
    &:hover .external-links {
      opacity: 1;
    }
  }
  .plugin-labels {
    font-size: 0.9em;
    margin: 8px 0 13px;
  }
}

.plugin-page {

  .plugin-main {
    float: left;
    width: 73%;
  }
  .plugin-side {
    float: right;
    width: 22%;
    margin-top: 12px;
    .owner-section {
      font-size: 18px;
      margin: 10px 0;
      img {
        width: 40px;
        border-radius: 10px;
        margin-right: 10px;
      }
    }

    .dependency-clip {
      margin: 10px 0 0;
      //width: 300px;
      input {
        background: #fff;
      }
      .input-group-addon {
        border-radius: 0 3px 3px 0;
        border-left-width: 0;
      }
    }
  }
  h3 {
    font-size: 18px;
    margin: 25px 0 0;
    color: #444;
    padding-bottom: 3px;
  }
  .attributes-list {
    margin: 25px 0 20px;
    padding: 0;
    li {
      list-style-type: none;
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
      &:last-of-type {
        border-bottom: none;
      }
      label {
        margin: 0;
        width: 57px
      }
    }
  }
  .links-list {
    margin: 5px 0 20px;
    padding: 0;
    li {
      list-style-type: none;
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
      &:last-of-type {
        border-bottom: none;
      }
      img {
        width: 20px;
        padding: 0px 3px;
        margin-right: 5px;
      }
      i {
        font-size: 17px;
        width: 20px;
        text-align: center;
        margin-right: 5px;
      }
    }
  }

  .plugin-name {
    color: @dark-green;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    margin: 5px 0;
  }
  .plugin-description {
    color: #888;
    margin: 0 0 8px;
    display: block;
    font-size: 0.9em;
  }
  .plugin-info {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #aaa;
    .gradle-format {
      margin: 20px 0 10px;
      pre {
        clear: both;
        padding: 17px;
      }
    }
  }
  .readme {
    .not-found {
      display: block;
      padding: 10px 5px;
      color: #666;
    }
  }
  .hljs-string {
    color: #183691;
  }
  .external-links {
    margin-left: 10px;
    margin-top: 0px;
    display: inline-block;
    height: 29px;
    vertical-align: middle;
    a {
      margin-right: 5px;
      img {
        height: 20px;
      }
    }
  }
}

.searchby-label {
  .plugin-label {
    background-color: #f2f2f2;
    color: @dark-green;
    border: 1px solid #e9e9e9;
    padding: .3em 0.6em .4em;
    &:hover {
      background-color: #ddd;
    }
  }
  &:hover {
    text-decoration: none;
  }
}

.labels-section {
  width: 110px;
  float: left;
  ul.all-labels {
    padding: 0;
    margin: 0;
    li.all-labels-item {
      list-style-type: none;
      font-weight: bold;
      a {
        display: block;
        padding: 2px 0;
      }
    }
  }
}

.bintray-section {
  margin: 5px 0;
  img {
    height: 18px;
  }
}
.github-section {
  margin: 15px 0 0;
  font-size: 0.85em;
  color: #666;
  height: 21px;
  .fa-github {
    margin-right: 2px;
  }
  a {
    margin-right: 7px;
  }
}

.timeline-wrapper {
  width: 250px;
  float: right;
}

.github-fork-ribbon {
  background-color: #666;
}

.github-btn {
  //height: 24px;
  overflow: hidden;
  display: inline-block;
  .gh-btn {
    float: left;
    margin-right: 0;

    padding: 1px 5px 1px 4px;
    color: #333;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 3px;

    background-color: #eee;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fcfcfc),color-stop(100%,#eee));
    background-image: -webkit-linear-gradient(top,#fcfcfc 0,#eee 100%);
    background-image: -moz-linear-gradient(top,#fcfcfc 0,#eee 100%);
    background-image: -ms-linear-gradient(top,#fcfcfc 0,#eee 100%);
    background-image: -o-linear-gradient(top,#fcfcfc 0,#eee 100%);
    background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#eeeeee', GradientType=0);
    background-repeat: no-repeat;
    border: 1px solid #d5d5d5;

  }
  .gh-count:after, .gh-count:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  .gh-count:before {
    top: 50%;
    left: -3px;
    margin-top: -4px;
    border-width: 4px 4px 4px 0;
    border-right-color: #fafafa;
  }
  .gh-count:after {
    top: 50%;
    left: -4px;
    z-index: -1;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #d4d4d4;
  }
  .gh-count {
    float: left;

    padding: 1px 5px 1px 4px;
    color: #333;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 3px;

    position: relative;
    margin-left: 4px;
    background-color: #fafafa;
    border: 1px solid #d4d4d4;
  }
}

@media (max-width: 1410px) {
  .github-fork-ribbon-wrapper {
    display: none;
  }
}

@media (max-width: 750px) {
  .plugin-page {
    .plugin-main {
      float: none;
      width: 100%;
    }
    .plugin-side {
      margin-top: 50px;
      float: none;
      width: 100%;
      .dependency-clip {
        display: none;
      }
    }
  }
}

@media (max-width: 750px) {
  .navbar .navbar-link-list .twitter {
    display: list-item;
  }
  .search-page {
    .timeline-wrapper {
      display: none;
    }
    .search-section {
      margin-right: 0;
    }
  }
}

@media (max-width: 550px) {
  .search-page {
    .labels-section {
      display: none;
    }
    .search-section {
      margin-left: 0;
    }
  }
}