@dark-green: #4d8618;
@light-green: #79b94c;
@header-link-color: #fff;

.page-width {
  max-width: 980px;
  margin: auto;
  padding: 0 10px 10px;
}

.navbar {
  background: @dark-green;
  border-radius: 0;
  .navbar-header {
    float: left;
  }
  .navbar-brand {
    color: @header-link-color;
    text-shadow: none;
    padding: 15px 0;
    img {
      width: 40px;
      display: inline;
    }
    &:hover, &:active, &:focus {
      color: @header-link-color;
    }
  }
  .grails-logo {
    margin-left: -5px;
  }
  .navbar-link-list {
    float: right;
    margin: 0;
    padding: 15px 0;
    li {
      list-style-type: none;
      float: left;
      margin-left: 15px;
      a {
        color: @header-link-color;
      }
    }
    .twitter {
      display: none;
    }
  }
}

.labels-section {
  width: 110px;

  float: left;
  a {
    display: block;
    text-decoration: none;
  }
}

.search-section {
  margin: 0 280px 0 130px;
}

.search-input-section {
  padding: 0 0 10px;
  .form-group {
    position: relative;
    margin-bottom: 0;
  }
  .glyphicon-search {
    top: 0;
    left: 10px;
    color: #555;
    font-size: 18px;
    height: 14px;
    line-height: 14px;
    bottom: 0;
    margin: auto 0;
  }
  .glyphicon-remove-sign {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    line-height: 14px;
    margin: auto;
    font-size: 18px;
    cursor: pointer;
    color: #bbb;
    width: 2pc;
    text-align: center;
  }
  .search-input {
    padding: 12px 47px;
    font-size: 18px;
    line-height: 22px;
    height: auto;
  }
}

.list-page {
  .search-count {
    font-size: 12px;
    margin-bottom: 10px;
    color: #888;
    .dropdown-toggle {
      color: #888;
    }
    .dropdown-menu {
      min-width: 120px;
      .checkmark {
        margin-right: 5px;
        visibility: hidden;
      }
      a.selected .checkmark {
        visibility: visible;
      }
    }
  }
}

.plugins-list {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  li {
    list-style-type: none;
    padding: 10px 0;
    border-bottom: 2px solid #eee;
    .plugin-name {
      color: @dark-green;
      font-size: 18px;
      font-weight: bold;
    }
    .plugin-dependency {
      //float: right;
    }
    .plugin-description {
      color: #888;
      margin: 5px 0;
      display: block;
      font-size: 12px;
    }

    .plugin-labels {
      margin: 5px 0;
    }

    .external-links {
      //display: none;
      margin-left: 10px;
      opacity: 0;
      a {
        margin-right: 5px;
      }
    }
    &:hover .external-links {
      //display: block;
      opacity: 1;
    }
  }
}

.plugin-page {
  .plugin-info {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #aaa;
    .dependency-clip {
      float: right;
      width: 300px;
      input {
        background: #fff;
      }
      .input-group-addon {
        border-radius: 0 3px 3px 0;
        border-left-width: 0;
      }
    }
    .gradle-format {
      margin: 10px 0;
    }
  }
  .plugin-name {
    color: @dark-green;
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
  }
  .plugin-description {
    color: #888;
    margin: 5px 0;
    display: block;
    font-size: 12px;
  }
  .readme {
    .not-found {
      display: block;
      padding: 10px 5px;
      color: #666;
    }
  }
}

.plugin-labels {
  .label {
    background-color: #aaa;
    //background-color: @light-green;
    &:hover {
      background-color: #666;
      text-decoration: none;
    }
  }
}

.timeline-wrapper {
  width: 250px;
  float: right;
}

.github-fork-ribbon {
  background-color: #666;
}

@media (max-width: 1300px) {
  .github-fork-ribbon-wrapper {
    display: none;
  }
}

@media (max-width: 750px) {
  .navbar .navbar-link-list .twitter {
    display: list-item;
  }
  .list-page {
    .timeline-wrapper {
      display: none;
    }
    .search-section {
      margin-right: 0;
    }
  }
  .plugin-page {
    .dependency-clip {
      display: none;
    }
  }
}

@media (max-width: 550px) {
  .list-page {
    .labels-section {
      display: none;
    }
    .search-section {
      margin-left: 0;
    }
  }
}